{
    admin off
    email admin@etecstudio.online
    acme_ca https://acme-v02.api.letsencrypt.org/directory
}

etecstudio.online {
    encode gzip
    reverse_proxy 127.0.0.1:8080
}

www.etecstudio.online {
    redir https://etecstudio.online{uri} permanent
}
